html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
}

#start_spacer {
    height: 400px;
}

#scene_1 {
    background: #c1e2b3;
    position: relative;
}

#scene_1_background {
    position: absolute;
    width: 100%;
}

#girl {
    max-width: 200px;
    position: absolute;
    left: 450px;
}

#swing_bg {
    height: 500px;
    width: 210px;
    position: absolute;
    left: 380px;
}

#left_swing_pole {
    height: 500px;
    width: 7px;
    position: absolute;
    left: 385px;
}