@girlLeftOffset: 1100px;
@standOffset: 650px;

html, body, .container-table {
  height: 100%;
  width: 100%;
  background: #faae7d;

  .container, .subcon {
    margin: 0 !important;
    padding: 0 !important;
  }

  .container-table {
    display: table;
    width: 100%;

    .vertical-center-row {
      display: table-cell;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

#scene_2 {
  background: #faae7d;
  width: 100%;
  position: relative;
  top: 400px;

  #ghost {
    position: absolute;
    left: 800px;
    opacity: 0;
    zoom: 0.5;
    z-index: 900;
  }
}

#scene_3 {
  top: @standOffset;
  height: 100%;
  position: relative;

  #stand {
    width: 100%;
    height: 1000px;
    background: #272525;
    position: absolute;
  }

  #lamp {
    position: absolute;
    top: -260px;
    max-width: 250px;
    z-index: 1000;
    left: 900px;
  }

  #box1, #box2, #box3 {
    border: 3px solid #A9A9A9;
    border-radius: 10px;
    float: left;
    height: 100px;
    line-height: 90px;
    margin: 0px 0px 30px 50px;
    text-align: center;
    width: 100px;
    position: relative;
    top: 0px;

    /*
    This cubic-bezier ease should approximate the jquery default 'swing' ease.
    Courtesy of http://stackoverflow.com/questions/9245030/looking-for-a-swing-like-easing-expressible-both-with-jquery-and-css3
    */
    -webkit-transition: all .4s cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all .4s cubic-bezier(.02, .01, .47, 1);
    -o-transition: all .4s cubic-bezier(.02, .01, .47, 1);
    transition: all .4s cubic-bezier(.02, .01, .47, 1);
  }

  #doll {
    position: absolute;
    top: -350px;
    max-width: 400px;
    z-index: 1001;
    left: 400px;
  }

  .glow {
    -webkit-filter: drop-shadow(0px 0px 10px white);
    filter: url(shadow.svg#drop-shadow);
  }

  #phone {
    position: absolute;
    top: -300px;
    max-width: 400px;
    z-index: 1000;
    left: 50px;
  }
}

#scene_1 {
  width: 100%;
  background: #faae7d;
  position: relative;

  #girl_container {
    position: relative;

    #scene1_bg {
      position: absolute;
      background: url('../images/scene1_bg.png');
      width: 100%;
      height: 464px;
    }

    #scene_1_background {
      position: absolute;
      width: 100%;
      zoom: 0.9;
      top: 100px;

      #left_swing_pole {
        height: 450px;
        width: 7px;
        position: absolute;
        left: @girlLeftOffset + 5px;
      }

      #girl {
        position: absolute;
        left: @girlLeftOffset + 70px;

        #girl_on_swing {
          max-width: 200px;
          position: absolute;
        }

        #left-swing-handle {
          width: 7px;
          height: 300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 50px;
        }

        #swing_base {
          background-color: rgb(156, 123, 83);
          position: absolute;
          left: 102px;
          top: 270px;
          width: 92px;
          height: 27px;
          border-radius: 9px;
        }

        #right-swing-handle {
          width: 7px;
          height:  300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 92px;
        }
      }

      #swing_bg {
        height: 500px;
        width: 210px;
        position: absolute;
        left: @girlLeftOffset;
      }
    }
  }
}