html, body, .container-table {
  height: 100%;
  background-color: #c1e2b3;

  .container-table {
    display: table;

    .vertical-center-row {
      display: table-cell;
    }
  }
}

#scene_1 {
  background: #c1e2b3;
  position: relative;

  #start_spacer {
    height: 400px;
  }

  #girl_container {
    #scene_1_background {
      position: absolute;
      width: 100%;

      #left_swing_pole {
        height: 500px;
        width: 7px;
        position: absolute;
        left: 385px;
      }

      #girl {
        position: absolute;
        left: 450px;
        top: 16px;

        #girl_on_swing {
          max-width: 200px;
          position: absolute;
        }

        #left-swing-handle {
          width: 7px;
          height: 300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 50px;
        }

        #swing_base {
          background-color: rgb(156, 123, 83);
          position: absolute;
          left: 102px;
          top: 270px;
          width: 92px;
          height: 27px;
          border-radius: 9px;
        }

        #right-swing-handle {
          width: 7px;
          height: 300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 92px;
        }
      }

      #swing_bg {
        height: 500px;
        width: 210px;
        position: absolute;
        left: 380px;
      }
    }
  }
}