@girlLeftOffset: 1100px;

html, body, .container-table {
  height: 100%;
  width: 100%;

  .container, .subcon {
    margin: 0 !important;
    padding: 0 !important;
  }

  .container-table {
    display: table;
    width: 100%;

    .vertical-center-row {
      display: table-cell;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

#scene_1 {
  width: 100%;
  background: #faae7d;
  position: relative;

  #girl_container {
    position: relative;

    #scene1_bg {
      position: absolute;
      background: url('../images/scene1_bg.png');
      width: 100%;
      height: 464px;
    }

    #scene_1_background {
      position: absolute;
      width: 100%;
      zoom: 0.9;
      top: 100px;

      #left_swing_pole {
        height: 450px;
        width: 7px;
        position: absolute;
        left: @girlLeftOffset + 5px;
      }

      #girl {
        position: absolute;
        left: @girlLeftOffset + 70px;

        #girl_on_swing {
          max-width: 200px;
          position: absolute;
        }

        #left-swing-handle {
          width: 7px;
          height: 300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 50px;
        }

        #swing_base {
          background-color: rgb(156, 123, 83);
          position: absolute;
          left: 102px;
          top: 270px;
          width: 92px;
          height: 27px;
          border-radius: 9px;
        }

        #right-swing-handle {
          width: 7px;
          height:  300px;
          background: #e3b988;
          position: absolute;
          transform: rotate(-30deg);
          left: 92px;
        }
      }

      #swing_bg {
        height: 500px;
        width: 210px;
        position: absolute;
        left: @girlLeftOffset;
      }
    }
  }
}